asgiref==3.11.1
chardet==6.0.0.post1
Django==5.0.7
django-cleanup==9.0.0
django-cloudinary-storage==0.3.0
django-excel==0.0.13
djangorestframework==3.16.1
djangorestframework-gis==1.2.0
djangorestframework-simplejwt==5.5.1
drf-yasg==1.21.15
django-cors-headers==4.9.0
drf-spectacular
et-xmlfile==2.0.0
gunicorn==25.1.0
lml==0.2.0
openpyxl==3.1.5
packaging==26.0
pillow==12.1.1
psycopg2==2.9.11
psycopg2-binary==2.9.11
pyexcel==0.7.4
pyexcel-io==0.6.7
pyexcel-webio==0.1.4
PyJWT==2.11.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.5
texttable==1.7.0
tzdata==2025.3
whitenoise==6.12.0
geographiclib==2.1
geopy==2.4.1
dj-database-url
sentry-sdk
django-jazzmin
qrcode
